<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.railwaycrossing.dao.UserDao">
    <insert id="register">
        insert into user (userAccount,salt,password) values (#{userAccount}, #{salt}, #{password})
    </insert>

    <select id="getUserByUserAccount" resultType="com.railwaycrossing.entity.User">
        select * from user where userAccount=#{userAccount};
    </select>
</mapper>